/*
 * Copyright 2024 Michał Minarowski (@n3oney)
 * 
 * Originally created for QMK by Mark Stosberg (@markstos)
 * 
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt LEFT_COMMAND TAB  &kp Q  &kp W  &kp E         &kp R        &kp T        &kp Y        &kp U          &kp I         &kp O    &kp P          &kp NON_US_BACKSLASH
&sk LEFT_CONTROL      &kp A  &kp S  &kp D         &kp F        &kp G        &kp H        &kp J          &kp K         &kp L    &kp SEMICOLON  &mt RIGHT_ALT SQT
&sk LSHFT             &kp Z  &kp X  &kp C         &kp V        &kp B        &kp N        &kp M          &kp COMMA     &kp DOT  &kp FSLH       &sk RIGHT_COMMAND
                                    &lt 3 ESCAPE  &lt 2 SPACE  &lt 1 TAB    &lt 5 ENTER  &kp BACKSPACE  &lt 4 DELETE
            >;
        };

        num_sym {
            bindings = <
&trans  &trans          &trans            &trans        &trans            &trans    &kp LEFT_PARENTHESIS  &kp N7         &kp N8        &kp N9        &kp RIGHT_PARENTHESIS  &kp MINUS
&trans  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &trans    &kp LEFT_BRACKET      &kp NUMBER_4   &kp N5        &kp NUMBER_6  &kp RIGHT_BRACKET      &kp PLUS
&trans  &trans          &trans            &trans        &trans            &trans    &kp NON_US_BACKSLASH  &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3  &kp PIPE               &kp EQUAL
                                          &trans        &trans            &trans    &kp SPACE             &kp BACKSPACE  &kp GRAVE
            >;
        };

        nav {
            bindings = <
&trans  &trans          &trans            &trans        &trans            &trans    &kp HOME    &kp PAGE_DOWN  &kp PAGE_UP   &kp END      &trans      &trans
&trans  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &trans    &kp LEFT    &kp DOWN       &kp UP_ARROW  &kp RIGHT    &trans      &trans
&trans  &trans          &trans            &kp K_COPY    &kp K_PASTE       &trans    &kp K_UNDO  &kp K_CUT      &kp K_COPY    &kp K_PASTE  &kp K_REDO  &trans
                                          &trans        &trans            &trans    &trans      &trans         &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans     &trans     &trans    &trans    &trans    &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &mkp MB4    &trans
&trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp MB5    &trans
&trans  &trans     &trans     &trans    &trans    &trans    &kp K_UNDO      &kp K_CUT       &kp K_COPY    &kp K_PASTE      &kp K_REDO  &trans
                              &trans    &trans    &trans    &mkp LCLK       &mkp MCLK       &mkp RCLK
            >;
        };

        media {
            bindings = <
&kp K_SLEEP  &trans  &trans          &trans             &trans            &trans        &trans  &trans    &trans    &trans     &trans     &trans
&trans       &trans  &kp K_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP   &kp K_NEXT    &trans  &kp RGUI  &kp RALT  &kp RCTRL  &kp RSHFT  &trans
&kp K_LOCK   &trans  &trans          &trans             &trans            &trans        &trans  &trans    &trans    &trans     &trans     &trans
                                     &kp K_STOP         &kp K_PLAY_PAUSE  &kp K_MUTE    &trans  &trans    &trans
            >;
        };

        fun {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12    &trans  &trans    &trans    &trans     &trans     &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &trans  &kp RGUI  &kp RALT  &kp RCTRL  &kp RSHFT  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10    &trans  &trans    &trans    &trans     &trans     &trans
                        &trans  &trans  &trans     &trans  &trans    &trans
            >;
        };
    };
};
